html
{
	height:100%;
}
body
{
		background-image: url(pic2.jpg);
		height: 100%
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

}
 #div1
 {
 	position: fixed;
 	text-align: center; 
 }

